body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-49xl: 68px;
  --font-size-mid: 17px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-white: #fff;
  --color-gray: #252525;
  --color-dimgray-100: #656565;

  /* border radiuses */
  --br-4xs: 9px;
}
